main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: url("pozadi.jpg");
    background-size: cover;
}

canvas {
    width: 300px;
    height: 500px;
    background-color: white;
    border: 30px solid #e80000;
    border-radius: 10px;
}

button {
    background-color: rgb(123, 10, 123);
    color: white;
    font-size: 30px;
    padding: 5px 20px;
    border: 0;
    outline: 0;
}

.shake {
    animation: shake linear 1s;
}

@keyframes shake {
    0%, 100% {
        transform: translate(0, 0);
    }

    10%, 90% {
        transform: translate(1px, 0);
    }

    20%, 80% {
        transform: translate(-2px, 0);
    }

    30%, 70% {
        transform: translate(3px, 0);
    }

    40%, 60% {
        transform: translate(-4px, 0);
    }

    50% {
        transform: translate(4px, 0);
    }
}